.Network-prefrence-search-input{
    width: 50%!important;
}
@media only screen and (max-width: 767px){
    .Network-prefrence-search-input{
        width: 100%!important;
    }
}

.before-table-cobtrol-prefrence{
    background-color: #f4f6f8;
    padding: 30px 40px;
    margin: 20px 0px 40px 0px;
}
.channel-user-pink-bg{
    background-color: #FFEDEF;
    padding: 20px 20px 10px 20px;
    border-radius: 9px;
    margin: 0 5px;
}
.channel-user-pink-bg h3{
    font-size: 20px;
    font-weight: bold;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: max-content;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px!important;
    padding-top: 0px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #DFE3E8;
}

.list-group-item:hover {
    background-color: transparent;
}

.list-group-item.active {
    z-index: 2;
    /* color: #fff; */
    /* background-color: #007bff; */
    /* border-color: #007bff; */
    background: transparent;
    border-bottom: 3px solid #E50029;
    color: #000;
    font-weight: bold;
}

.parent-border{
    border-right: 1px solid #E4CED0;
}

@media only screen and (max-width: 992px){
    .parent-border{
        border-right: 0;
        border-bottom: 1px solid #E4CED0;
        margin-bottom: 20px;
    }
}
.view-comission-profile-outline{
    border: 1px solid #DFE3E8;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.tbl-bg-blue{
    background-color: #F1FBFC;
}
.text-red{
    color: #E50029!important;
}
.bordered-table-custome .table .thead-light th{
    border-right: 1px solid #000!important;
    border-top: 1px solid #000;
}
.table-bordered tr{
    border-color: #000!important;
}
.table-bordered td{
    border-color: #000!important;
}
.border-radius{
    border-radius: 8px!important;
}

.wiz-channel .list-group-item.active {
    z-index: 2!important;
    color: #fff!important;
    background-color: #ffbe45!important;
    border-color: #ffbe45!important;
    border-radius: 6px!important;
    text-align: center!important;
}

/* CheckBox */
.form-check input[type="checkbox"], .form-check-radio input[type="radio"] {
    opacity: 1;
    position: absolute;
    visibility: visible;
}
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #FFBE45;
    border-color: #FFBE45;
}
.left-side-radius{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.right-side-radius{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.peet-to-peer-add-table th{
    font-weight: normal !important;
    color: #919eab !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
}

.width-fit-content{
    width: fit-content;
}

.bg-light-yellow{
    background-color: #FFF9EB;
}

.transfer-control-preference-filter-link{
    text-align: center;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)!important;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #DFE3E8;
}
.transfer-control-preference-filter-link:hover {
    z-index: 2;
    color: #fff!important;
    background-color: #334F68!important;
    /* border-color: #007bff; */
    background: transparent;
    border-bottom: 3px solid #E5012A!important;
    color: #000;
}

.transfer-control-preference-filter-link.active {
    z-index: 2;
    color: #fff!important;
    background-color: #334F68!important;
    /* border-color: #007bff; */
    background: transparent;
    border-bottom: 3px solid #E5012A!important;
    color: #000;
}

.border-light{
    border-color: #DFE3E8!important;
}
.table-bordered{
    border-color: #DFE3E8!important;
}
.bg-light-pink{
    background-color: #FEF7F6!important;
}
.bg-light-pink-plus{
    background-color: #FEEDEE!important;
}

.collapse-btn{
    background-color: #334F68;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
}
.collapse-btn{
    background-color: #334F68;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    color: #fff!important;
    text-decoration: none!important;
}
.collapse-btn:hover{
    color: #fff!important;
    text-decoration: none!important;
}
.bg-light-green{
    background-color: #F1FAF6;
}
.selected-yellow-btn{
    width: fit-content;
    background-color: #FFBE45;
    color: #fff;
    border-radius: 60px;
    padding: 10px 20px;
}
.not-selected-yellow-btn{
    width: fit-content;
    background-color: #fff;
    color: #000;
    border-radius: 60px;
    padding: 10px 20px;
}
.my-input-grp-txt{
    background-color: transparent;
    border: 1px solid #DFE3E8;
    border-right: 0px;
    color: #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.my-input-grp-txt:hover{
    background-color: transparent;
    border: 1px solid #DFE3E8;
    border-right: 0px;
    color: #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.my-input-grp-btn{
    background-color: transparent;
    border: 1px solid #DFE3E8;
    border-left: 0px;
    color: #000;
}
.my-input-grp-btn:hover{
    background-color: transparent;
    border: 1px solid #DFE3E8;
    border-left: 0px;
    color: #000;
}
.blue-btn{
    background-color: #2680C2!important;
    color: #fff!important;
    width: 100%;
}
.add-comission-profile-wizard h3{
    font-size: 21px;
}
.add-comission-profile-wizard .card{
    height: 300px;
}
.add-comission-profile-wizard a{
    left: 5%;
    position: absolute;
    bottom: 20px;
    width: 90%;
}
.add-comission-profile-wizard .card:hover{
    background-color: #2680C2;
    color: #fff;
    height: 300px;
}
.add-comission-profile-wizard .card:hover a{
    background-color: #fff!important;
    color: #2680C2!important;
}
.add-comission-profile-wizard-active .card{
    background-color: #2680C2;
    color: #fff;
    height: 300px;
}
.add-comission-profile-wizard-active .card a{
    background-color: #fff!important;
    color: #2680C2!important;
}